logs/
*/project/*-shim.sbt
project/project/
project/target/
target/
bin/
.project
.classpath
.cache
.worksheet
.settings/
.DS-Store
.metadata
.idea/
.idea_modules/
**/*.iml
**/.DS_Store
src/main/resources/application.conf
